.custom-background2 {
  background-color: #E07B4F;
  color: black !important;
}

.custom-background {
  background-color: #4D7381;
}

.custom-background3 {
  background-color: #1a485b;
  color: black !important;
}
